@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.logo {
    position: absolute;
    font-family: 'Playfair Display', serif;
    color: #D67E49;
    letter-spacing: .05em;
    font-size: 40px;
    font-weight: bolder;
    top: 25px;
    left: 30px;
}

.menu {
    position: absolute;
    top: 45px;
    right: 30px;
}

.menu ul {
    position: relative;
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    display: inline-block;
    padding: 5px 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    letter-spacing: .03em;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.menu ul li a:hover {
    background-color: #D67E49;
    color: black;
    border: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px gray;
}

.coupon {
    position: absolute;
    width: 100%;
    height: 370px;
    top: 120px;
    background-image: linear-gradient(to bottom, #7CB078, #2E4F7D);
    display: flex;
    justify-content: center;
}

.seventyfive {
    position: absolute;
    padding: 5px 0 10px 0 ;
    display: flex;
    z-index: 1;
    justify-content: center;
    top: 10px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .02em;
    width: 100%;
    height: 60px;
}

.couponpix {
    display: flex;
    position: absolute;
    width: 600px;
    top: 80px;
    box-shadow: 2px 2px;
    justify-content: center;
}


.about {
    position: absolute;
    width: 1000px;
    padding: 25px 25px 25px 25px;
    background-color: #FDF49B;
    box-shadow: 2px 2px;
    border: 20px;
    border-radius: 20px;
    top: 530px;
    left: 30px;
}

.aboutheader {
    padding: 0 0 10px 0px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.abouttext {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0 0 15px 0px;
}

.ohiomap {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: -1;
    width: 100%;
    height: 1500px;
    top: 300px;
    right: 0px; left: 0px;
    opacity: 10%;
}

.inspiration {
    position: absolute;
    width: 1000px;
    padding: 25px 25px 25px 25px;
    background-color: #FDF49B;
    box-shadow: 2px 2px;
    border: 20px;
    border-radius: 20px;
    top: 1200px;
    right: 30px;    
}

.inspirationheader {
    padding: 0 0 10px 0px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.inspirationtext {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.contactus {
    position: absolute;
    margin: 0;
    width: 80%;
    padding: 25px;
    background-color: #FDF49B;
    box-shadow:  2px 2px;
    border: 20px;
    border-radius: 20px;
    top: 1500px;
    left: 30px;
}

.contactusheader {
    padding: 0 0 10px 0px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.contactustext {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}


/* ------------------- SOCIAL ------------------------ */
.social {
    position: absolute;
    display: inline-block;
    padding: 10px;
    width: 100%;
    bottom: -740px;
    text-align: right;
    right: 30px;
    font-size: 20px;
}


.fa {
    display: inline-block;
    padding: 15px 1px 10px 1px;
    margin: 5px 3px;
    width: 50px;
    text-align: center;
    text-decoration: none; 
}

.fa-phone {
    font-size: 15px;
}
.fa:hover {
    color: #7CB078;
    font-size: 250%;
}

.fa-facebook {
    color: #7CB078;
}

.fa-linkedin {
    color: #7CB078;
}

.fa-instagram {
    color: #7CB078;
}


@media screen and (max-width: 786px) {

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}

.logo {
    position: absolute;
    display: inline;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: black;
    /* text-shadow: 2px 2px rgba(186, 186, 186, 0.387); */
    letter-spacing: .05em;
    font-size: 16px;
    text-align: center;
    left: auto; right: auto;
}

.menu {
    position: absolute;
    width: 80%;
    top: 90px;
}

.menu ul {
    position: relative;
    list-style-type: none;
    text-align: center;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    letter-spacing: .03em;
    color: black;
    font-weight: bold;
    font-size: 14px;

}

.menu ul li a:hover {
    background-color: #FDF49B;
    color: black;
    border: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px gray;
}

.coupon {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 70px;
    background-image: linear-gradient(to bottom, #7CB078, #2E4F7D);
}

.couponpix {
    display: none;
}

.seventyfive {
    display: none;
}

.about {
    position: absolute;
    width: 80%;
    padding: 25px 25px 25px 25px;
    background-color:  #FDF49B;
    box-shadow: 2px 2px;
    border: 20px;
    border-radius: 20px;
    top: 140px;
    align-items: center;
}

.aboutheader {
    padding: 0 0 10px 0px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.abouttext {
    font-size: 12px;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0 0 15px 0px;
}

.inspiration {
    margin: 0;
    position: absolute;
    width: 80%;
    padding: 25px;
    background-color: #FDF49B;
    box-shadow: 2px 2px;
    border: 20px;
    border-radius: 20px;
    top: 1050px;
    align-items: center; 
    left: 7%;

}

.inspirationheader {
    padding: 0 0 10px 0px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.inspirationtext {
    font-size: 12px;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}


 

/* SOCIAL MEDIA */

.social {
    position: absolute;
    display: inline-block;
    padding: 10px;
    width: 100%;
    bottom: -200px;
}


.fa {
    padding: 15px 1px 10px 1px;
    margin: 5px 3px;
    font-size: 12px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    color: #7CB078;
}

.fa-linkedin {
    color: #7CB078;
}

.fa-instagram {
    color: #7CB078;
}

}