/*
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Monsieur La Doulaise', cursive;

Hex Colors
Green = 7CB078
Orange = D67E49
Yellow = FDF49B
Blue = 2E4F7D
*/